---
groups:
- name: main
  jobs:
{%- for job in jobs %}
  - {{ job.name }}
{%- endfor %}

resources:
- name: source-deploy
  type: git
  source:
    uri:  {{ git_deploy_prefix }}/{{ git_deploy_repo }}
    branch: master
    private_key: {{ '{{' }}git-private-key{{ '}}' }}

{%- for repo in micros_list %}
- name: {{ repo }}
  type: git
  source:
    uri:  {{ git_prefix }}/{{ repo }}
    branch: master
    private_key: {{ '{{' }}git-private-key{{ '}}' }}
{%- endfor %}

jobs:
{%- for job in jobs %}
- name: {{ job.name }}
  public: true
  serial: true
  plan:
  - get: source-deploy
    {%- if job.passed %}
    passed: [{{ job.passed }}]
    {%- endif %}
  {%- for repo in micros_list %}
  - get: {{ repo }}
    trigger: true
  {%- endfor %}
  {%- for task in job.tasks %}
{{ task }}
    params:
      CF_API: {{ '{{' }}cf-api{{ '}}' }}
      CF_USER: {{ '{{' }}cf-username{{ '}}' }}
      CF_PASSWORD: {{ '{{' }}cf-password{{ '}}' }}
      CF_SSOCODE: {{ '{{' }}cf-ssocode{{ '}}' }}
      CF_ORG: {{ '{{' }}cf-organization{{ '}}' }}
      CF_SPACE: {{ '{{' }}cf-space{{ '}}' }}
      MICROSLIST: {{ micros_list_str }}
  {%- endfor %}
{%- endfor %}