---
groups:
- name: main
  jobs:
{%- for job in jobs %}
  - {{ job.name }}
{%- endfor %}

{%- if is_sonar %}
resource_types:
- name: sonar-runner
  type: docker-image
  source:
    repository: cathive/concourse-sonarqube-resource
    tag: 0.6.0
{%- endif %}

resources:
- name: source-deploy
  type: git
  source:
    uri:  {{ git_deploy_prefix }}/{{ git_deploy_repo }}
    branch: master
    {%- if is_priv_key %}
    private_key: {{ '{{' }}git-private-key{{ '}}' }}
    {%- endif %}
{%- if is_sonar %}
- name: code-analysis
  type: sonar-runner
  source:
    host_url: {{ '{{' }}sonar-url{{ '}}' }}
    login: {{ '{{' }}sonar-login{{ '}}' }}
    password: {{ '{{' }}sonar-password{{ '}}' }}
{%- endif %}
- name: {{ micro_name }}
  type: git
  source:
    uri:  {{ git_prefix }}/{{ micro_name }}
    branch: {{ git_branch }}
    {%- if is_priv_key %}
    private_key: {{ '{{' }}git-private-key{{ '}}' }}
    {%- endif %}

jobs:
{%- for job in jobs %}
- name: {{ job.name }}
  public: true
  serial: true
  plan:
  - get: source-deploy
  - get: {{ micro_name }}
    {%- if job.passed %}
    passed: [{{ job.passed }}]
    {%- endif %}
    trigger: true
  {%- for task in job.tasks %}
{{ task }}
  {%- endfor %}
{%- endfor %}