cf-api: {{ cf_api }}
cf-username: {{ cf_user }}
cf-password: {{ cf_password }}
cf-ssocode: {{ cf_ssocode }}
cf-organization: {{ cf_org }}
cf-space: {{ cf_space }}
git-path: {{ git_path }}
{%- if git_deploy_prefix %}
git-deploy-path: {{ git_deploy_path }}
{%- endif %}
sonar-url: {{ sonar_url }}
sonar-login: {{ sonar_login }}
sonar-password: {{ sonar_password }}
git-private-key: |
{{ priv_key }}