  - task: build
    config:
      platform: linux
      image_resource:
        type: docker-image
        source:
          repository: java
          tag: 'openjdk-8'
      inputs:
        {%- if is_deploy_repo %}
        - name: source-deploy
        {%- endif %}
        - name: {{ micro_name }}
      outputs:
        - name: build-output
          path: build-output/
      run:
        path: ci/scripts/build.sh
        {%- if is_deploy_repo %}
        dir: source-deploy
        {%- else %}
        dir: {{ micro_name }}
        {%- endif %}