  - task: build
    config:
      platform: linux
      image_resource:
        type: docker-image
        source:
          repository: java
          tag: 'openjdk-8'
      inputs:
        - name: source-deploy
        {%- for repo in micros_list %}
        - name: source-{{ repo }}
        {%- endfor %}
      outputs:
        - name: build-output
          path: build-output/
      run:
        path: /bin/ls
        dir: source-deploy