  - task: push
    config:
      platform: linux
      image_resource:
        type: docker-image
        source:
          repository: ricofehr/cf-cli
      inputs:
        {%- if is_deploy_repo %}
        - name: source-deploy
        {%- endif %}
        - name: build-output
        - name: {{ micro_name }}
      run:
        {%- if is_deploy_repo %}
        path: source-deploy/ci/scripts/push.sh
        {%- else %}
        path: {{ micro_name }}/ci/scripts/push.sh
        {%- endif %}
    params:
      CF_API: {{ '{{' }}cf-api{{ '}}' }}
      CF_USER: {{ '{{' }}cf-username{{ '}}' }}
      CF_PASSWORD: {{ '{{' }}cf-password{{ '}}' }}
      CF_SSOCODE: {{ '{{' }}cf-ssocode{{ '}}' }}
      CF_ORG: {{ '{{' }}cf-organization{{ '}}' }}
      CF_SPACE: {{ '{{' }}cf-space{{ '}}' }}
      MICRONAME: {{ micro_name }}