  - task: check-sonarqube-quality-gate
    config:
      platform: linux
      image_resource:
        type: docker-image
        source:
          repository: cathive/concourse-sonarqube-qualitygate-task
          tag: latest # Use one of the versioned tags for reproducible builds!
      inputs:
        - name: code-analysis-{{ micro_name }}
      run:
        path: /sonarqube-qualitygate-check
        dir: code-analysis-{{ micro_name }}