  - task: sonar-build
    config:
      platform: linux
      image_resource:
        type: docker-image
        source:
          repository: java
          tag: 'openjdk-8'
      inputs:
        {%- if is_deploy_repo %}
        - name: source-deploy
        {%- endif %}
        - name: {{ micro_name }}
      outputs:
        # Hint: For some (most?) languages, the sonar-runner needs more than just the
        # sources to perform a full analysis. Line coverage reports, unit test reports,
        # Java class files and mutation test results should also be present.
        # Therefore, you'll have to make sure that your build script provides the sources
        # and the compilation/test in your Concourse CI build plan.
        # (And that is the reason, why we need the following output)
        - name: sonarqube-analysis-input
          path: sonarqube-analysis-input/
      run:
        {%- if is_deploy_repo %}
        path: source-deploy/ci/scripts/sonar-build.sh
        {%- else %}
        path: {{ micro_name }}/ci/scripts/sonar-build.sh
        {%- endif %}
    params:
      MICRONAME: {{ micro_name }}