  - task: ut
    config:
      platform: linux
      image_resource:
        type: docker-image
        source:
          repository: java
          tag: 'openjdk-8'
      inputs:
        - name: source-deploy
        - name: {{ micro_name }}
      run:
        path: source-deploy/ci/scripts/ut.sh
    params:
      MICRONAME: {{ micro_name }}